build-Hangman-game-min-Debug/Makefile
build-Hangman-game-min-Debug/Makefile.Debug
build-Hangman-game-min-Debug/Makefile.Release
build-Hangman-game-min-Debug/debug/main.o
build-Hangman-game-min-Debug/debug/mainwindow.o
build-Hangman-game-min-Debug/debug/moc_mainwindow.cpp
build-Hangman-game-min-Debug/debug/moc_mainwindow.o
build-Hangman-game-min-Debug/ui_mainwindow.h
build-Hangman-game-min-Debug/Man/Hangman-2.png
build-Hangman-game-min-Debug/Man/Hangman-1.png
build-Hangman-game-min-Debug/Man/Hangman-0.png
build-Hangman-game-min-Debug/kategorie/imiona.txt
build-Hangman-game-min-Debug/debug/kategorie/imiona.txt
build-Hangman-game-min-Debug/debug/hangman.o
build-Hangman-game-min-Debug/debug/Man/wygrana.png
build-Hangman-game-min-Debug/debug/Man/przegrana.png
build-Hangman-game-min-Debug/debug/Man/Hangman-6.png
build-Hangman-game-min-Debug/debug/Man/Hangman-5.png
build-Hangman-game-min-Debug/debug/Man/Hangman-4.png
build-Hangman-game-min-Debug/debug/Man/Hangman-3.png
build-Hangman-game-min-Debug/debug/Man/Hangman-2.png
build-Hangman-game-min-Debug/debug/Man/Hangman-1.png
build-Hangman-game-min-Debug/debug/Man/Hangman-0.png
build-Hangman-game-min-Debug/Man/wygrana.png
build-Hangman-game-min-Debug/Man/przegrana.png
build-Hangman-game-min-Debug/Man/Hangman-6.png
build-Hangman-game-min-Debug/Man/Hangman-5.png
build-Hangman-game-min-Debug/Man/Hangman-4.png
build-Hangman-game-min-Debug/Man/Hangman-3.png
